# Crear un entorno virtual
python -m venv env
# Activar el entorno virtual
source env/bin/activate # En Windows usa `env\Scripts\activate`
# Instalar dependencias
pip install pyqt5
# Generar el archivo requirements.txt
pip freeze > requirements.txt